In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)

In [3]:
author = pd.read_csv("./data/audible_uncleaned.csv")

In [4]:
author.head(5)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

## Checking datatypes

In [5]:
author.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

- time should be converted into min
- release date should be converted into datetime
- price to be integer

## Analyzing each feature

### name

In [6]:
author.name.value_counts().reset_index()

                                                    name  count
0                                         The Art of War     20
1                                   Sterling Biographies     19
2                                            The Odyssey     16
3                                   Sterling Point Books     16
4                                                 Hamlet     15
...                                                  ...    ...
82762  Resumen de Inteligencia artificial de Pablo Ro...      1
82763  Resumen de La clave de la venta de Jeffrey Lip...      1
82764                          SDGsが生み出す未来のビジネス（できるビジネス）      1
82765                                       弱者のポジショニング戦略      1
82766                                             Havana      1

[82767 rows x 2 columns]

### author

In [7]:
author.author.str.split(":").str[1]

0        GeronimoStilton
1            RickRiordan
2             JeffKinney
3            RickRiordan
4            RickRiordan
              ...
87484       ChrisStewart
87485      StephenO'Shea
87486          MarkTwain
87487     LaurenceSterne
87488      MarkKurlansky
Name: author, Length: 87489, dtype: object

In [8]:
### all stars outof 5 so remove other stuff -> and number rating create other feature

In [9]:
author['stars'].str.split("stars").str[0].str.split(" ", n=1).str[0]

0          5
1        4.5
2        4.5
3        4.5
4        4.5
        ...
87484    Not
87485    Not
87486    Not
87487    Not
87488    Not
Name: stars, Length: 87489, dtype: object

In [10]:
def clean_numeric(ser: pd.Series):
    pass

In [11]:
### cleaning data

In [17]:
def clean(df):
    return (
        df
        .assign(
            # author
            author=lambda df_: (
                df_.author
                .str.split(":").str[1]
            ),

            # narrator
            narrator=lambda df_: (
                df_.narrator.str.split(":").str[1]
            ),

            # time
            hour=lambda df_: (
                df_.time
                .replace(r"[^0-9]", " ", regex=True).str.strip().str.split(" ").str[0]
                .astype('int')
            ),
            minute=lambda df_: (
                df_.time
                .replace(r"[^0-9]", " ", regex=True).str.strip().str.split(" ").str[-1]
                .astype('int')sort_values(by='count')
            ),
            time_min=lambda df_: (
                df_.hour*60 + df_.minute
            ),

            # releasedate
            releasedate=lambda df_: pd.to_datetime(
                df_.releasedate,
                format='mixed'
            ),
            year=lambda df_: (
                df_.releasedate.dt.year
            ),
            month=lambda df_: (
                df_.releasedate.dt.month
            ),
            day=lambda df_: (
                df_.releasedate.dt.day
            ),

            #stars
            rating=lambda df_: (
                df_.stars.str.split("stars").str[0].str.split(" ", n=1).str[0]
                .replace("Not", "0")
                .astype("float")
            ),
            n_rating=lambda df_: (
                df_.stars.str.split("stars").str[1].str.split(" ", n=1).str[0]
                .str.replace(",","")
                .replace(np.nan, "0")
                .astype("int")
            ),

             #price
            price=lambda df_: (
                df_.price
                .str.replace("Free", "0").str.replace(",","")
                .astype("float")
            ),

            # language
            language=lambda df_: (
                df_.language.str.lower()
            )
        )
        .drop(columns=['hour', 'minute', 'releasedate', 'time', 'stars'])
    )

In [18]:
clean_author = clean(author)

In [19]:
clean_author.sample(5)

,name,author,narrator,language,price,time_min,year,month,day,rating,n_rating
80124,The Chrysalids,Writtenby:JohnWyndham,Narratedby:NoahReid,english,759.0,418,2021,11,25,5.0,2
25562,The Express,Writtenby:RobertGallagher,Narratedby:PaulBoehmer,english,586.0,340,2008,9,15,0.0,0
73309,Levende død i Dallas,Writtenby:CharlaineHarris,Narratedby:MarieVestergårdJacobsen,danish,434.0,514,2016,12,20,0.0,0
36919,The Pleasure Gap,Writtenby:KatherineRowland,Narratedby:SuzieAlthens,english,500.0,669,2020,4,2,0.0,0
30665,Mastering Your Inner Critic and 7 Other High H...,Writtenby:SusanMackentyBrady,Narratedby:SusanMarlowe,english,586.0,415,2021,7,22,0.0,0

In [ ]:
author.info()

In [ ]:
clean_author['language'].unique()

In [ ]:
clean_author.sample(5)

In [ ]:
clean_author.info()

In [ ]:
clean_author.to_csv("clean_author.csv", index=False)